* {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;  
}
#app {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding-top: 79px;
  width: 960px;
}
.wrap {
  color: white;
  display: grid;
  grid-template-columns: 320px 1fr;
}
input {
  outline: none;
}

.menu-item {
  height: 75px;
  padding-left: 28px;
  line-height: 75px;
  cursor: pointer; 
  font-size: 15pt;
  background-color: #1f2229;
  color: white;
     
}
.settings,
.logout {
  background-color: #191c24;
}
.card__content {
  position: relative;
}
.card__data, .congrat-wrap, .history-wrap {
  // height: 500px;
  background-color: #f7f8f8;
  background-clip: border-box;
  padding: 45px 45px 25px 29px;
  font-family: Arial, sans-serif;
  font-size: 16pt;
  color: #535864;
}
.inp--border-none {
  border: none;
  background-color: #f7f8f8;
  font-family: Arial, sans-serif;
  font-size: 16pt;
  color: #bec6cf;
}
.payment-info {
  width: 200px;
  display: inline-block;
  margin-top: 10px;
}
.caption--font {
  font-family: "Open Sans", sans-serif;
  color: #383d43;
  margin: 17px 0 12px;
}
.card-front {
  position: relative;
  border: 1px solid rgb(228, 233, 238);
  border-radius: 10px;
  background-color: #f7f8f8;
  width: 318px;
  min-height: 201px;
  padding: 25px 15px 15px;
  z-index: 1;
}
.card-input {
  width: 64px;
  height: 42px;
  border: 1px solid #e4e9ee;
  text-align: center;
}
#card-scnd-input,
#card-third-input,
#card-frth-input {
  margin-left: 3px;
}
.active-period {
  margin-top: 10px;
}
#card-month,
#card-year {
  width: 69px;
  height: 42px;
  border: 1px solid #e4e9ee;
  appearance: none;
  padding-left: 15px;
  margin-top: 6px;
}
#card-month-label::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 8px;
  height: 8px;
  border-left: 1px solid #c9d0d7;
  border-bottom: 1px solid #c9d0d7;
  top: -2px;
  left: -25px;
  transform: rotate(-45deg);
}
#card-year-label::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 8px;
  height: 8px;
  border-left: 1px solid #c9d0d7;
  border-bottom: 1px solid #c9d0d7;
  top: -2px;
  left: -24px;
  transform: rotate(-45deg);
}
.cardholder-input-wrap {
  margin-top: 9px;
}
#cardholder-input {
  width: 305px;
  height: 42px;
  border: 1px solid #e4e9ee;
  padding-left: 11px;
}
.card-back {
  position: absolute;
  top: 229px;
  left: 221px;
  width: 369px;
  height: 235px;
  border: 1px solid rgb(228, 233, 238);
  border-radius: 10px;
  z-index: 0;
}
.magnetic-strip {
  width: 215px;
  height: 42px;
  background-color: #c9d0d7;
  margin-left: 155px;
  margin-top: 25px;
}
.cvv-text {
  margin-left: 190px;
  margin-top: 13px;
}
.cvv-input-wrap {
  margin-left: 216px;  
}

#cvv-input {
  width: 125px;
  height: 42px;
  padding-left: 10px;
  border: 1px solid #e4e9ee;
  appearance: none;
  -webkit-appearance: none;
}
#pay-btn {
  font-size: 11pt;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  width: 133px;
  height: 40px;
  border-radius: 20px;
  background-color: #0056b7;
  color: #fff;
  background: linear-gradient(to bottom, #005abf, #004ca2);
  border: none;
  margin-top: 40px;
  margin-left: 15px;
  outline: none;
  cursor: pointer;
}

.card-information {
  padding: 30px;
  font-size: 9pt;
  color: #89909d;
  background-color: #373c43;
}
.card-information__text {
  margin-top: 10px;
}
.info-msg {
  color: #89909d;
  font-size: 10px;
}
.error {
  outline: 1px solid red;
}
table {
  border-collapse: collapse;
  margin-top: 30px;
}
td, th {
  border: 1px solid #6b717c;
  padding: 0 10px;    
}

@media screen and (max-width: 1000px) {
  #app {
    width: 100%;
    padding-top: 0;
  }
  .wrap {
    grid-template-columns: 1fr;
  }
  .menu-item {
    text-align: center;
    padding-left: 0;
    border-bottom: 1px dotted white;
  }
  .card__data {
    padding: 40px 50px 40px 100px;        
  }
  .card-back {
    left: 294px;
  }
}
@media screen and (max-width: 768px) {
  .magnetic-strip{
    display: none;
  }
.card-back {  
  top: calc(58% - 200px);
    left: 31px;
    padding-bottom: 10px;
    height: 180px;
}
.card__data {
  padding: 40px 20px 40px 20px;
}
.cvv-text {
  display: inline-block;
  margin-left: 10px;
  margin-top: 139px;
}

.cvv-input-wrap {
  margin-left: 10px;
  display: inline-block;
}

#pay-btn {
  margin-top: 110px;
  margin-left: 115px;
}


}

@media screen and (max-width: 480px) {
 #app {
   padding-top: 0;
 }
 .card__data {
  
}
.card-back {
  top: 430px;
  left: 9px;
}
}